
@{
    ViewBag.Title = "VideoLectureManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "CourseManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .mt {
        margin-top: 45px !important;
        padding-top: 45px !important;
    }
</style>

<div class="header-two-title text-center mt" data-aos="fade-up">
    <p class="tagline">Our Course Videos</p>
    <h2>Manage all videos proper</h2>
</div>

<div class="col-xl-12 col-lg-11 col-md-12 mx-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="settings-widget">
                <div class="settings-inner-blk p-0">

                    <div class="comman-space pb-0">
                        <div class="settings-tickets-blk course-instruct-blk table-responsive">

                            <table class="table table-nowrap mb-0 table-bordered text-center" id="myTable1">
                                <thead>
                                    <tr>
                                        <th>SR</th>
                                        <th>Video Title</th>
                                        <th>Course</th>
                                        <th>Viseo Link</th>
                                        <th>Video Details</th>
                                        <th>Duration</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Rows.Count > 0)
                                        {
                                            int i = 1;
                                            foreach (System.Data.DataRow row in Model.Rows)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@row["videoTitle"]</td>
                                                    <td>@row["title"]</td>
                                                    <td>
                                                        <iframe width="200" height="110" src="@row["videolink"]" title="video player" frameborder="0" allow="accelerometer; clipboard-write;encrypted-media;
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                    </td>
                                                    <td>@Html.Raw(row["videodetails"])</td>
                                                    <td>@row["duration"] Minute</td>
                                                    <td>
                                                        <a href="/admin/VideoLectureManagement?sr=@row["vsr"]" onclick="return confirm('Do you want to delete')"><button class="btn btn-danger fa fa-trash" title="Delete"></button></a>
                                                        <a href="/admin/UpdateInstructor?sr=@row["vsr"]" onclick="return confirm('Do you want to Update data')"><button class="btn btn-success fa fa-pencil" title="Update"></button></a>
                                                    </td>
                                                </tr>
                                                { i = i + 1; }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>


