
@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Shared/_Generallayout.cshtml";
}

<style>
    .mt {
        margin-top: 45px !important;
        padding-top: 45px !important;
    }
</style>
@if (Model.Tables[0].Rows.Count > 0)
{
    foreach (var arr in Model.Tables[0].Rows)
    {

        <div class="inner-banner mt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mt">
                        <div class="instructor-wrap border-bottom-0 m-0">
                            <div class="about-instructor align-items-center">
                                <div class="abt-instructor-img">
                                    <a href="#"><img src="~/Content/picture/@arr["ipic"]" alt="img" class="img-fluid"></a>
                                </div>
                                <div class="instructor-detail me-3">
                                    <h5><a href="#">@arr["name"]</a></h5>

                                </div>

                            </div>
                            <span class="web-badge mb-3">@arr["cname"]</span>
                        </div>
                        <h2>@arr["title"]</h2>


                        <div class="course-info d-flex align-items-center border-bottom-0 m-0 p-0">
                            <div class="cou-info">
                                <img src="assets/img/icon/icon-01.svg" alt="">
                                <p>@arr["TotalLecture"] Videos</p>
                            </div>
                            <div class="cou-info">
                                <img src="assets/img/icon/timer-icon.svg" alt="">
                                <p>
                                    @if (Convert.ToInt32(arr["totalduration"]) > 60)
                                    {
                                        var v = Convert.ToInt32(arr["totalduration"]) / 60;
                                        var x = Convert.ToInt32(arr["totalduration"]) % 60;
                                        <text>@v</text><text> hour @x</text><text> minute</text>

                                    }
                                    else
                                    {
                                        @arr["totalduration"] <text>minute</text>
                                    }
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="page-content course-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        <div class="card overview-sec">
                            <div class="card-body">
                                <h5 class="subs-title">Overview</h5>
                                <h6>Course Description</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <h6>What you'll learn</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li>Become a UX designer.</li>
                                            <li>You will be able to add UX designer to your CV</li>
                                            <li>Become a UI designer.</li>
                                            <li>Build & test a full website design.</li>
                                            <li>Build & test a full mobile app.</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>Learn to design websites & mobile phone apps.</li>
                                            <li>You'll learn how to choose colors.</li>
                                            <li>Prototype your designs with interactions.</li>
                                            <li>Export production ready assets.</li>
                                            <li>All the techniques used by UX professionals</li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Requirements</h6>
                                <ul class="mb-0">
                                    <li>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from Adobe.</li>
                                    <li>No previous design experience is needed.</li>
                                    <li class="mb-0">No previous Adobe XD skills are needed.</li>
                                </ul>
                            </div>
                        </div>


                        <div class="card content-sec">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="subs-title">Course Content</h5>
                                    </div>
                                    <div class="col-sm-6 text-sm-end">
                                        <h6>
                                            @arr["TotalLecture"] Lectures  @if (Convert.ToInt32(arr["totalduration"]) > 60)
                                            {
                                                var v = Convert.ToInt32(arr["totalduration"]) / 60;
                                                var x = Convert.ToInt32(arr["totalduration"]) % 60;
                                                <text>@v</text><text> hour @x</text><text> minute</text>

                                            }
                                            else
                                            {
                                                @arr["totalduration"] <text>minute</text>
                                            }
                                        </h6>
                                    </div>
                                </div>
                                @if (Model.Tables[1].Rows.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var chap in Model.Tables[1].Rows)
                                    {

                                        <div class="course-card">
                                            <h6 class="cou-title">
                                                <a class="collapsed arrow_chapter"  data-bs-toggle="collapse" href="#collapse_@i" data-id="@Request.QueryString["csr"]" aria-expanded="false">@chap["chapter"]</a>
                                            </h6>

                                            <div id="collapse_@i" class="card-collapse collapse vdo">
                                                
                                                <ul>
                                                    <li><img src="~/Content/load.gif" height="50px" id="gif" /></li>
                                                </ul>

                                            </div>
                                        </div>
                                        { i = i + 1; }
                                    }
                                }
                                else
                                {
                                    <h3>Sorry till video uploding..</h3>
                                }
                            </div>
                        </div>


                        <div class="card instructor-sec">
                            <div class="card-body">
                                <h5 class="subs-title">About the instructor</h5>
                                <div class="instructor-wrap">
                                    <div class="about-instructor">
                                        <div class="abt-instructor-img">
                                            <a href="#"><img src="~/Content//picture/@arr["ipic"]" alt="img" class="img-fluid"></a>
                                        </div>
                                        <div class="instructor-detail">
                                            <h5><a href="instructor-profile.html">@arr["name"]</a></h5>

                                        </div>
                                    </div>

                                </div>
                                <div class="course-info d-flex align-items-center">
                                    <div class="cou-info">
                                        <img src="assets/img/icon/play.svg" alt="">
                                        <p>@arr["Btech"]</p>
                                    </div>
                                    <div class="cou-info">
                                        <img src="assets/img/icon/icon-01.svg" alt="">
                                        <p>@arr["gender"]</p>
                                    </div>

                                </div>
                                <p>@arr["about"]</p>
                                <p>@arr["summary"]</p>

                            </div>
                        </div>


                        <div class="card review-sec">
                            <div class="card-body">
                                <h5 class="subs-title">Reviews</h5>
                                <div class="instructor-wrap">
                                    <div class="about-instructor">
                                        <div class="abt-instructor-img">
                                            <a href="instructor-profile.html"><img src="~/Content//picture/@arr["ipic"]" alt="img" class="img-fluid"></a>
                                        </div>
                                        <div class="instructor-detail">
                                            <h5><a href="instructor-profile.html">@arr["name"]</a></h5>
                                            <p>UX/UI Designer</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">4.5 Instructor Rating</span>
                                    </div>
                                </div>
                                <p class="rev-info">“ This is the second Photoshop course I have completed with Cristian. Worth every penny and recommend it highly. To get the most out of this course, its best to to take the Beginner to Advanced course first. The sound and video quality is of a good standard. Thank you Cristian. “</p>
                                <a href="javascript:;" class="btn btn-reply"><i class="feather-corner-up-left"></i> Reply</a>
                            </div>
                        </div>


                        <div class="card comment-sec" id="comment">
                            <div class="card-body">
                                <h5 class="subs-title">Post A comment</h5>
                                <form method="post">
                                    <input type="number" value="@Request.QueryString["csr"]" name="id" hidden>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Full Name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject" name="subject">
                                    </div>
                                    <div class="form-group">
<textarea rows="4" class="form-control" placeholder="Your Comments" name="comment"></textarea>
                                    </div>
                                    <div class="submit-section">
                                        <input type="submit" class="btn submit-btn" value="Submit" />
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar-sec">

                            <div class="video-sec vid-bg">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="https://www.youtube.com/embed/1trvO6dqQUI" class="video-thumbnail" data-fancybox>
                                            <div class="play-icon">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                            <img src="~/Content//picture/@arr["thumb"]" alt="">
                                        </a>
                                        <div class="video-details">
                                            
                                            <div class="course-fee">
                                                <h2>&#8377;@arr["ffee"]</h2>
                                                <p>
                                                    @if (Convert.ToInt32(arr["fee"]) > Convert.ToInt32(arr["ffee"]))
                                                    {
                                                        int v = (Convert.ToInt32(arr["fee"])) - (Convert.ToInt32(arr["ffee"]));
                                                        var x = (v * 100) / Convert.ToInt32(arr["fee"]);

                                                        <text><span>&#8377;@arr["fee"] </span> <b>@x% OFF</b></text>
                                                    }
                                                    else
                                                    {
                                                        <text>&#8377;@arr["ffee"] <span>&#8377;@arr["fee"]</span></text>
                                                    }



                                                </p>
                                            </div>
                                                <div class="row gx-2">
                                                    <div class="col-md-6">
                                                        @* <a href="course-wishlist.html" class="btn btn-wish w-100"><i class="feather-heart"></i> Add to Wishlist</a> *@
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="javascript:;" class="btn btn-wish w-100"><i class="feather-share-2"></i> Share</a>
                                                    </div>
                                                </div>
                                                <a href="/home/invoice?csr=@Request.QueryString["csr"]" onclick="return confirm('Do you really want to purchase this course. this will charge &#8377;@arr["ffee"] ')" class="btn btn-enroll w-100">Enroll Now</a>
                                            </div>
                                        </div>
                                </div>
                            </div>


                            <div class="card include-sec">
                                <div class="card-body">
                                    <div class="cat-title">
                                        <h4>Includes</h4>
                                    </div>
                                    <ul>
                                        <li><img src="assets/img/icon/import.svg" class="me-2" alt=""> 11 hours on-demand video</li>
                                        <li><img src="assets/img/icon/play.svg" class="me-2" alt=""> 69 downloadable resources</li>
                                        <li><img src="assets/img/icon/key.svg" class="me-2" alt=""> Full lifetime access</li>
                                        <li><img src="assets/img/icon/mobile.svg" class="me-2" alt=""> Access on mobile and TV</li>
                                        <li><img src="assets/img/icon/cloud.svg" class="me-2" alt=""> Assignments</li>
                                        <li><img src="assets/img/icon/teacher.svg" class="me-2" alt=""> Certificate of Completion</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="card feature-sec">
                                <div class="card-body">
                                    <div class="cat-title">
                                        <h4>Includes</h4>
                                    </div>
                                    <ul>
                                        <li><img src="#" class="me-2" alt=""> Enrolled: <span>32 students</span></li>
                                        <li>
                                            <img src="#" class="me-2" alt=""> Duration: <span>
                                                @if (Convert.ToInt32(arr["totalduration"]) > 60)
                                                {
                                                    var v = Convert.ToInt32(arr["totalduration"]) / 60;
                                                    var x = Convert.ToInt32(arr["totalduration"]) % 60;
                                                    <text>@v</text><text> hour @x</text><text> minute</text>

                                                }
                                                else
                                                {
                                                    @arr["totalduration"] <text>minute</text>
                                                }
                                            </span>
                                        </li>
                                        <li><img src="#" class="me-2" alt=""> Videos: <span>@arr["TotalLecture"]</span></li>

                                        <li><img src="#" class="me-2" alt=""> Level: <span>Beginner-Expert</span></li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    }
}

<script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".arrow_chapter").click(function () {
            var chapter=$(this).text().trim();
            //alert($(this).attr("data-id"))
            var courseid =@Request.QueryString["csr"];
            var ul = $(this).parent().parent().find("div ul");
            var gif = $(this).parent().find("div img");
                $.ajax({
                    url: '/home/selevideo',
                    type: 'GET',
                    data: { 'chapter': chapter, 'courseid': courseid },
                    success: function (data) {
                        gif.css("display", "none")
                        i = 1;    ;
                        ul.empty();
                        for (var row of data) {

                            ul.append(`
                            <li onclick="preview('${row.videolink}','${row.videoTitle}')">
<p><img src="assets/img/icon/play.svg" alt class="me-2">Lecture_${i} ${row.videoTitle}</p>
<div>
${row.ispaid ? 'paid' : '<a href="javascript:;"data-bs-toggle="modal" data-bs-target="#exampleModal">Preview</a>'}

<span>${row.duration} minute</span>
</div>
</li>
                            `)
                            i = i + 1;
                        }
                    },
                    error: function () {
                        alert('Please try again');
                    }
                })
        })

//click event of preview button

      })

    function preview(videolink, videoTitle) {
       // alert(videoTitle)
        $("#frame_video").attr("src", videolink);
        $(".txtmodal").text(videoTitle);
       
    }

    function modalhide() {
        //alert("ok");
        $("#exampleModal").css("display", "none");
        location.reload();
    }
   
    
</script>


<!--Modal here-->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txtmodal" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" id="cls" aria-label="Close" onclick="modalhide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <iframe width="200" height="110" scrolling="no" seamless="" id="frame_video" src="" title="video player" frameborder="0" allow="accelerometer; clipboard-write;encrypted-media;
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cls" onclick="modalhide()">Close</button>
                
            </div>
        </div>
    </div>
</div>