
@{
    ViewBag.Title = "Editprofile";
    Layout = "~/Views/Shared/_Generallayout.cshtml";
}

<div class="Row mt-5">
    <div class="col-sm-8 mx-auto mt-5 pt-5">
        <h2 class="mt-5">Register Here..</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" name="sname" value="@Model["sname"]"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Email ID</label>
                        <input type="email" class="form-control" placeholder="Enter Email ID" name="semail" value="@Model["semail"]" readonly/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Gender</label><br />
                        @if (Model["gender"].ToString().Equals("Male"))
                        {
                            <input type="radio" name="gender" value="Male" class="mt-2" checked />
                        }
                        else
                        {
                            <input type="radio" name="gender" value="Male" class="mt-2" />
                        }
                        Male
                        @if (Model["gender"].ToString().Equals("Female"))
                        {
                            <input type="radio" name="gender" value="Female" class="mt-2 ms-5" checked />
                        }
                        else
                        {
                            <input type="radio" name="gender" value="Female" class="mt-2 ms-5" />
                        }

                        Female
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Enter Mobile</label>
                        <input type="number" class="form-control" placeholder="Enter Mobile Number" name="mobile" value="@Model["mobile"]"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">College</label>
                        <select class="form-control" name="college">
                            <option>--Select College--</option>
                            @if (Model["college"].ToString().Equals("Government Polytechnic jaunpur"))
                            {
                                <option selected>Government Polytechnic jaunpur</option>
                            }
                            else
                            {
                                <option>Government Polytechnic jaunpur</option>
                            }
                            @if (Model["college"].ToString().Equals("Gavernment Polytechnic Aurai"))
                            {
                                <option selected>Gavernment Polytechnic Aurai</option>
                            }
                            else
                            {
                                <option>Gavernment Polytechnic Aurai</option>
                            }
                            @if (Model["college"].ToString().Equals("Saltnat Bahadur PG College"))
                            {
                                <option selected>Saltnat Bahadur PG College</option>
                            }
                            else
                            {
                                <option>Saltnat Bahadur PG College</option>
                            }



                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Course</label>
                        <select class="form-control" name="course">
                            <option value="@Model["course"]">@Model["title"]</option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Year</label>
                        <select class="form-control" name="year">
                            <option>--Select Option--</option>
                            @if (Model["year"].ToString().Equals("First Year"))
                            {
                                <option selected>First Year</option>
                            }
                            else
                            {
                                <option>First Year</option>
                            }
                            @if (Model["year"].ToString().Equals("Second Year"))
                            {
                                <option selected>Second Year</option>
                            }
                            else
                            {
                                <option>Second Year</option>
                            }
                            @if (Model["year"].ToString().Equals("Third Year"))
                            {
                                <option selected>Third Year</option>
                            }
                            else
                            {
                                <option>Third Year</option>
                            }
                            @if (Model["year"].ToString().Equals("Fourth Year"))
                            {
                                <option selected>Fourth Year</option>
                            }
                            else
                            {
                                <option>Fourth Year</option>
                            }




                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Profile Picture</label>
                        
                        <input type="file" class="form-control" name="profile"/>
                        <img src="~/Content/picture/@Model["profile"]" height="50px" width="50px" class="rounded-circle">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="add-course-label">Password</label>
                        <input type="text" class="form-control" placeholder="Create a password" name="password" value="@Model["password"]"/>
                    </div>
                </div>
            </div>
            <div class="widget-btn ms-0 ps-0">
                <input type="submit" value="Update" class="btn btn-info-light" />
                
            </div>
        </form>
    </div>
</div>

