
@{
    ViewBag.Title = "MyCourse";
    Layout = "~/Views/Shared/_Generallayout.cshtml";
}

<div class="row mt-5">
    @if (Model != null)
    {
        
            foreach (System.Data.DataRow row in Model.Rows)
            {
                <div class="col-lg-3 col-md-5 d-flex mt-5 ms-1">
                    <div class="course-box course-design d-flex ">
                        <div class="product">
                            <div class="product-img">
                                <a href="#">
                                    <img class="img-fluid" alt="" src="~/Content/picture/@row["thumb"]">
                                </a>
                                @*
                                <div class="price">
                                    <h3>&#8377;@row["fee"] <span>&#8377;@row["ffee"]</span></h3>
                                </div>
                                    *@
                            </div>
                            <div class="product-content">
                                <div class="course-group d-flex">
                                    <div class="course-group-img d-flex">
                                        <a href="#"><img src="~/Content/picture/@row["ipic"]" alt="" class="img-fluid"></a>
                                        <div class="course-name">
                                            <h4><a href="">@row["name"]</a></h4>
                                            <p>Instructor</p>
                                        </div>
                                    </div>
                                    <div class="course-share d-flex align-items-center justify-content-center">
                                        <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <h3 class="title"><a href="/home/onecoursechapter?csr=@row["course"]">@Html.Raw(row["details"])</a></h3>
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating-img d-flex align-items-center">
                                        <img src="assets/img/icon/icon-01.svg" alt="">
                                        <p>@row["TotalLecture"] Videos</p>
                                    </div>
                                    <div class="course-view d-flex align-items-center">
                                        <img src="assets/img/icon/icon-02.svg" alt="">
                                        <p>
                                            @if (Convert.ToInt32(@row["totalduration"]) > 60)
                                            {
                                                var v = Convert.ToInt32(@row["totalduration"]) / 60;
                                                var x = Convert.ToInt32(@row["totalduration"]) % 60;
                                                <text>@v</text><text> hour @x</text><text> minute</text>

                                            }
                                            else
                                            {
                                                @row["totalduration"] <text>minute</text>
                                            }
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><br/>
            }
        }
    
</div>

